<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="웹툰작가, 디자이너, 프리랜서, 디자인">
<meta name="description" content="안녕하세요 웹툰작가 카리보의 작업물 아카이빙입니다.">
<meta name="author" content="CARIBO">
<meta property="og:type" content="website" />
<meta property="og:url" content="https://caribo.me" />
<meta property="og:title" content="웹툰작가 카리보 포트폴리오">
<meta property="og:image" content="{{ '/assets/img/thumbnail.jpg' | relative_url }}">
<meta property="og:description" content="안녕하세요 웹툰작가 카리보의 작업물 아카이빙입니다.">
<meta property="og:site_name" content="카리보의 작업물 아카이빙" />
<meta property="og:locale" content="en_US">
<title>웹툰작가 카리보 포트폴리오</title>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{{ '/assets/js/lottie.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.smoothwheel.js' | relative_url }}"></script>
<script src="{{ '/assets/js/card1.js' | relative_url }}"></script>
<script src="{{ '/assets/js/card2.js' | relative_url }}"></script>
<script src="{{ '/assets/js/card3.js' | relative_url }}"></script>
<link rel="stylesheet" href="{{ '/assets/css/card1.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/card2.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
<link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">